h1{
  font-family: Impact, Charcoal;
  color:Black;
}
h2 {
  font-family: Impact, Charcoal;
  color:Black;
}
body {
  font-family: Courier New;
  color:white;
  background-color: dimgray;
}
title {
  color:Black;
}