<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/styleee.css">
    <title>FBI Results</title>
  </head>
  <body>
    <h1>Your weapon couldn't hurt a mosquito when you needed it, when you tried to use it on the suspected criminal, they just walked away. How could you even consider being an FBI agent? Bye.</h1>
    <img src="http://www.ohmagif.com/wp-content/uploads/2013/04/fbi-common-sense-fail.gif" style="width:400px;height:300px">
    
    <h2><a href = https://www.mcdonalds.com/us/en-us/careers.html>Click here for a job you are a little underqualified for but you could try to do.</a></h2>
    
  </body>
  
  
  
</html>