<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/stylee.css">
    <title>FBI Results</title>
  </head>
  <body>
    <h1>Congrats, you're an FBI agent!! Toby, your partner, was a sneaky spy and quite intelligent despite not finishing third grade. Your team worked amazingly and you solved the case like a true FBI agent!</h1>
    <img src="https://samanddeanbrothersinarms.files.wordpress.com/2017/03/fbi-agents-sam-and-dean-at-the-door-by-itsokaysammy.gif?w=500">
    <br>
    <br>
    <h2><a href = https://www.fbi.gov/contact-us/field-offices/sandiego/news/press-releases/the-fbi-wants-you-special-agent-application-now-open>Click here to apply for the cool uniform and badge.</a></h2>
  </body>
  
  
</html>